<div class="form-group">
    <label for="itemname"> Item Name </label>
    <input 
        type="text"
        name="itemName"
        id="itemname"
        class="form-control"
        placeholder="Enter item name"
        required
        value=""
    />
</div>

<div class="form-group">
    <label for="description"> Item Description </label>
    <textarea 
        name="itemDesc"
        id="description"
        class="form-control"
        placeholder="Enter item description"
        required
    ></textarea>
</div>

<div class="form-group">
    <label for="itemcategory"> Item Category </label>
    <select class="custom-select" id="itemcategory" name="itemCategory">
        <option value="choice"> Select a category </option>
        <option value="electronics"> Electronics </option>
        <option value="fashion"> Fashion </option>
        <option value="health"> Health & Household </option>
        <option value="home"> Home & Kitchen </option>
        <option value="sports"> Sports </option>
        <option value="food"> Food </option>
        <option value="other"> Other products </option>
    </select>
</div>

<div class="form-group">
    <label for="itemqty"> Quantity </label>
    <input 
        type="number"
        name="itemQty"
        id="itemqty"
        class="form-control"
        placeholder="Enter the quantity"
        required
        value=""
    />
</div>

<div class="form-group">
    <label for="itemprice"> Price </label>
    <input 
        type="number"
        name="itemPrice"
        id="itemprice"
        class="form-control"
        placeholder="Enter the price"
        required
        value=""
    />
</div>

<div class="form-group">
    <label for="image"> Image </label>
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" required>
        <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
</div>

<button class="btn btn-danger btn-lg mr-2"> Submit </button>
<a href="/user/dashboard" class="btn btn-dark btn-lg mt-4 d-inline"> Cancel </a>