<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">
        <h1 style="font-family: cursive; color: red;"> <i class="fa fa-shopping-basket" style="font-size:48px;color:gold"></i> WEBASKET </h1>
    </a>
</nav>