<style>
    .active {
        background: maroon;
    }

    .nav-link {
        color: wheat !important;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/user/dashboard"> 
        <h1> SHOPPING SITE </h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="add-nav" href="/user/add"> Add Product </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/history"> Sales History </a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0" action="/user/search" method="POST">
            <input 
                class="form-control mr-sm-2"
                id="search"
                name="search"
                type="search"
                placeholder="Products"
                aria-label="Search"
                required
                size="5"
                value="<%= typeof search != 'undefined' ? search : '' %>">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Search </button>
        </form>

        <ul class="navbar-nav ml-lg-5">
            <li class="nav-item">
                <a href="/logout" class="btn btn-outline-danger"> Logout </a>
            </li>
        </ul>
    </div>
</nav>