<%- include('./partials/messages.ejs'); %>
<% if(role == 'buyer') { %>
    <%- include('./partials/buyer-nav.ejs'); %>
<% } else { %>
    <%- include('./partials/seller-nav.ejs'); %>
<% } %>

<h1 class="mt-4 text-center"> Oops! Page not found! </h1>
<hr>
<h2 class="mt-4 text-center"> Back to <a href="/user/dashboard"> <strong> Dashboard </strong> </a> </h2>