<%- include('./partials/messages.ejs'); %>
<%- include('./partials/seller-nav.ejs'); %>

<h1 class="mb-3 mt-2 text-center"> Add Product </h1>
<form action="/user/dashboard" method="POST">
    <%- include('./partials/form') %>
</form>